<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC_CV</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC_CV.styles.css" asp-append-version="true" />
    <script type="text/javascript">
        window.onload = function () {

            var a = document.getElementById("contact");

            var edu = document.getElementById("education");

            var work = document.getElementById("work_experience");

            var pro = document.getElementById("projects");

            var ach = document.getElementById("achievements");

            var int = document.getElementById("interests");

            a.onclick = function () {
                window.scrollTo(0, document.body.scrollHeight);
            }

            edu.onclick = function () {
                document.getElementById("edu").scrollIntoView(true);
            }

            work.onclick = function () {
                document.getElementById("work").scrollIntoView(true);
            }

            pro.onclick = function () {
                document.getElementById("pro").scrollIntoView(true);
            }

            ach.onclick = function () {
                document.getElementById("ach").scrollIntoView(true);
            }

            int.onclick = function () {
                document.getElementById("int").scrollIntoView(true);
            }

            if (window.innerHeight > window.innerWidth) {
                // Mobile phone screen handling

                var content = document.getElementById("content");
                content.style.margin = "20px";

                var cv = document.getElementById("cv-link");
                cv.style.display = "block";
            }
        };

        window.onresize = function () {
            if (window.innerHeight > window.innerWidth) {
                // Mobile phone screen handling

                var content = document.getElementById("content");
                content.style.margin = "20px";

                var cv = document.getElementById("cv-link");
                cv.style.display = "block";

                var nav = document.getElementById("navbarColor02");
                nav.style.display = "none";
            }
            else {
                var content = document.getElementById("content");
                content.style.margin = "0 20% auto";

                var cv = document.getElementById("cv-link");
                cv.style.display = "none";

                var nav = document.getElementById("navbarColor02");
                nav.style.display = "block";
            }
        };
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item"><a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="nav-item"><a class="nav-link text-light" id="education">Education</a></li>
                        <li class="nav-item"><a class="nav-link text-light" id="work_experience">Experience</a></li>
                        <li class="nav-item"><a class="nav-link text-light" id="projects">Projects</a></li>
                        <li class="nav-item"><a class="nav-link text-light" id="achievements">Achievements</a></li>
                        <li class="nav-item"><a class="nav-link text-light" id="interests">Interests</a></li>
                        <li class="nav-item"><a class="nav-link text-light" id="contact">Contact Details</a></li>
                        <li class="nav-item"><a class="nav-link text-light" href="/download">PDF</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <button onclick="topFunction()" class="btn btn-secondary" id="topBtn" title="Go to top">Top</button>

    <script type="text/javascript">
        var topButton = document.getElementById("topBtn");

        window.onscroll = function () {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                topButton.style.display = "block";
            } else {
                topButton.style.display = "none";
            }
        };

        function topFunction() {
            document.documentElement.scrollTo({
                top: 0,
                behavior: "smooth"
            });
        };
    </script>

    <footer class="footer-gallery">
        <br>

        <!-- <h3 class="footer-heading">Contact Details</h3> -->
        <br>
        <p style="text-align: center;">Email: <a style="text-decoration:none; color:inherit;" class="footer-link" href="mailto:bohanlon.enquiries@gmail.com">bohanlon.enquiries@gmail.com</a></p>
        <p style="text-align: center;"><a style="text-decoration:none; color:inherit;" class="footer-link" href="https://www.linkedin.com/in/bill-o-hanlon-2b31041b5/">LinkedIn</a></p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
